# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\Fery Suryanta\Downloads\Compressed\dans-multi-pro-test-master_2\dans-multi-pro-test-master\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
